includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - routes
        - database
    excludePaths:
        - database/migrations/*_create_permission_tables.php
